Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/.idea
/CMakeLists.txt
/cmake-build-*
/UpgradeLog.htm
/Build/Windows/FileOpenOrder/CookerOpenOrder.log
/Build/Windows/FileOpenOrder/EditorOpenOrder.log
/*.ipch
/Build/Windows/PipelineCaches
/.vsconfig
